NODE_ENV = 'development'

# Datasource
DATABASE_TYPE = mysql
DATABASE_HOST = 192.168.6.172
DATABASE_PORT = 5432
DATABASE_USERNAME = postgres
DATABASE_PASSWORD = mysecretpassword
DATABASE_NAME = ju_nft_v2
PORT = 3000

# redis
REDIS_HOST = 192.168.6.172
REDIS_PORT = 6379
#REDIS_PASSWORD = test


#rpc
ETH_RPC = https://testnet-rpc.juchain.org
START_BLOCK=4262122
SCAN_ADDRESS="0xEdE31Eee9388322865a35D32694830A09f603f58"


